/bin/
/node_modules/
package-lock.json
.project
/.settings
/coverage/
/unittest/node_modules/
/acceptancetest/coverage/
/acceptancetest/node_modules/
infAsCode/assume-role/node_modules/
infAsCode/create-role/node_modules/